header {
	background-color: #7BE0AD;
	padding: 10px 0 10px 0;
	font-size: 35px;
	color: #175235;
	font-family: 'Julius Sans One', sans-serif;
}

.options {
	text-align: center;
	background-color: #BED7EC;
	padding: 20px 0 20px 0;
	margin: 0;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 100%;
}

.options a {
	padding: 3px 15px 3px 15px;
	color: steelblue;
	border-top-style: solid;
	border-bottom-style: solid;
	text-decoration: none; 
}

.options a:hover {
	color: #1D219B;
}

.column1 {
	float: left;
	color: pink;
	width: 66%;
	padding: 2%;
	background-color: #FDFFD4; 
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.column1 p {
	text-align: justify;
	padding: 15px 0 0 0;
}

.column1 p a {
	font-size: 16px;
	float: right;
	margin-top: -15px;
	border-bottom: 1px dotted #821D9B;
	text-decoration: none; 
	color: #821D9B;
	font-weight: 100;
}

.column1 p a:hover {
	border-bottom: 1px dashed #821D9B;
	font-weight: 400;

}

.column1 h2 {
	font-size: 30px;
	padding: 5px 0 5px 30px;
}

.column2 {
	float: right;
	color: lightyellow;
	width: 26%;
	padding: 2%;	
	background-color: lightpink;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.column2 h2 {
	font-size: 30px;
	padding: 5px 0 5px 30px;
}


li a {
 text-decoration: none; 
 border-bottom: 3px dotted steelblue; 
 color: darkgrey;
}

li a:hover {
	 border-bottom: 2px dashed black;
	 color: steelblue; 
}
li {
	margin: 10px;
	margin-bottom: 10px;
}

/*/////MEDIA QUERY/////*/

@media only screen 
and (max-width: 940px) {

.column1 {
	width: 60%;
}

.column2 {
	width: 32%;
}}


@media only screen 
and (max-width: 640px) {

.column1 {
	float: none;
	width: 94%;
	padding: 20px;}

.column2 {
	float: none;
	width: 94%;
	padding: 20px;}
}

@media only screen 
and (max-width: 500px) {

.options a {

border-style: none;
flex-shrink: 7;

}

}